xml/Frankenstein.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start=frankenstein
frankenstein=element frankenstein {(volume | text)+}
volume=element volume {(title | ch | letter | text)+}
title=element title {text}
letter=element letter {(char | place | analysis_Phrase | analysis_Word | religMent | text)+}
ch=element ch {(char | place | analysis_Phrase | analysis_Word | religMent | text)+}
char=element char {charName, text}
place=element place {placeName, text}
analysis_Phrase=element analysis_Phrase {(theme | analysis_Word | place | char | text)+}
analysis_Word=element analysis_Word {theme, text}
religMent=element religMent {text}
charName=attribute charName {"Victor_Frankenstein" | "The_Monster" | "Robert_Walton" | "Elizabeth_Lavenza" | "Ernest_Frankenstein" | "Henry_Clerval" | "Alphonse_Frankenstein" | "William_Frankenstein" | "Justine_Moritz" | "Beaufort" | "De Lacey" | "Felix_De_Lacey" | "Agatha_De_Lacey" | "Safie" | "Caroline_Frankenstein" | "Margaret_Saville" | "Waldman" | "Krempe" | "Mr.Kirwin" | "Uncle_Thomas" | "Daniel_Nugent"}
placeName=attribute placeName {text}
theme=attribute theme {"Guilt" | "Isolation" | "Ambition" | "Madness" | "Secrecy" | "Consequences_Of_Creation" | "Obsession" | "Worry" | "Self_Disgust" | "Rage" | "Misery" | "Illness" | "Death" | "Depression" | "Fear"}
